/* */
/* Fortune cookie style sheet */
/* Victoria Wiley */
/* For codex Academy week */
/* */
/* this styles the whole page */
html {
  background-color: #2b4245;
  -webkit-text-fill-color: #eb397b;
}
h1 {
  text-align: center;
}

